<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapp">

    <application
        android:allowBackup="true"
        android:label="星座解密大师"
        android:supportsRtl="true"
        android:icon="@drawable/and1001"
        android:theme="@style/AppTheme">
        <activity android:name=".secondMain.Activity_MeAndYou"></activity>
        <activity android:name=".secondMain.What" />
        <activity android:name=".layout.findedlayout" />
        <activity android:name=".secondMain.FindMe" />
        <activity android:name=".other.AboutUs" />
        <activity android:name=".other.User" />
        <activity android:name=".other.AddUs" />
        <activity android:name=".other.PingFen" />
        <activity android:name=".layout.Home_Activity" />
        <activity android:name=".layout.AboutActivity" />
        <activity android:name=".layout.CaiDan" />
        <activity android:name=".MainActivity" />
        <activity android:name=".FristMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>